In [10]:
# importación de librerias.
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [9]:
# Path de datos y su lectura
path_log_limpio = r"C:\Users\DELL\Desktop\logs\bases_datos\log_4_test_output.csv"
log_data = pd.read_csv(path_log_limpio)

In [8]:
#informacion de los datos
log_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9134 entries, 0 to 9133
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   fecha           9134 non-null   object
 1   hora            9134 non-null   object
 2   codigo_defecto  9134 non-null   object
 3   alerta          9134 non-null   object
 4   especificacion  9134 non-null   object
dtypes: object(5)
memory usage: 356.9+ KB

In [112]:
#interfaz de tabla dinamica (hacer clic en "open""log_data")
log_data

,fecha,hora,codigo_defecto,alerta,especificacion
0,22/08/2005,04:13:10,0930,NORMAL,One Board is completed
1,22/08/2005,04:13:10,0930,NORMAL,One Board is completed
2,22/08/2005,04:13:11,0930,NORMAL,One Board is completed
3,22/08/2005,04:13:11,0938,NORMAL,Reserved Information Message 7
4,22/08/2005,04:13:11,0930,NORMAL,One Board is completed
...,...,...,...,...,...
9129,22/08/2007,08:53:31,0930,NORMAL,One Board is completed
9130,22/08/2007,08:53:33,0938,NORMAL,Reserved Information Message 7
9131,22/08/2007,08:53:38,0930,NORMAL,One Board is completed
9132,22/08/2007,08:53:38,0930,NORMAL,One Board is completed
9133,22/08/2007,08:53:40,0938,NORMAL,Reserved Information Message 7

In [60]:
#copia de seguridad
data = log_data.copy(deep= True)

# Exploración cuantitativa

Basado en la iformacion veamos cuantos registros tenemos de:
- Tablillas por año.
- Cuantos diferentes codigos tenemos.
- Cuantas alertas tenemos de cada tipo.
- Cuentas difeterentes especificaciones tenemos.

In [65]:
data['fecha'] = pd.to_datetime(data['fecha'], format='%d/%m/%Y')
data['hora'] = pd.to_timedelta(data['hora'])

In [66]:
data.head()

,fecha,hora,codigo_defecto,alerta,especificacion
0,2005-08-22,0 days 04:13:10,0930,NORMAL,One Board is completed
1,2005-08-22,0 days 04:13:10,0930,NORMAL,One Board is completed
2,2005-08-22,0 days 04:13:11,0930,NORMAL,One Board is completed
3,2005-08-22,0 days 04:13:11,0938,NORMAL,Reserved Information Message 7
4,2005-08-22,0 days 04:13:11,0930,NORMAL,One Board is completed

In [121]:
data_filtrada = data[
    (data['fecha'] >= pd.to_datetime('2005-08-22')) &
      (data['fecha'] <=pd.to_datetime('2006-09-15')) &
      #(data["codigo_defecto"]== "0938") &
      (data["alerta"] == "WARNING")
                   ]
data_filtrada.head(8)

,fecha,hora,codigo_defecto,alerta,especificacion
96,2005-08-22,0 days 05:04:17,5633,WARNING,Head14 pick up the edge of Part 34-14626-of Fe...
97,2005-08-22,0 days 05:04:17,5633,WARNING,Head13 pick up the edge of Part 34-14626-of Fe...
98,2005-08-22,0 days 05:04:17,5633,WARNING,Head15 pick up the edge of Part 34-14626-of Fe...
99,2005-08-22,0 days 05:04:18,5101,WARNING,Head12 Feeder R15 Part 34-14626-The retry coun...
100,2005-08-22,0 days 05:04:18,5101,WARNING,Head14 Feeder R15 Part 34-14626-The retry coun...
101,2005-08-22,0 days 05:04:18,5101,WARNING,Head11 Feeder R15 Part 34-14626-The retry coun...
102,2005-08-22,0 days 05:04:18,5101,WARNING,Head13 Feeder R15 Part 34-14626-The retry coun...
103,2005-08-22,0 days 05:04:18,5101,WARNING,Head15 Feeder R15 Part 34-14626-The retry coun...